@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;
}

.navbar,.nav,.brand,.cart{
    display:flex;
}
.navbar{
    width:90%;
    margin:auto;
    
    height:10vh;
    align-items:center;
}

.nav-link{
    text-decoration: none;
    flex:1;
    color:black;
}

.brand{
    flex:1;
}
.logo{
    margin:0 5px;
}


.nav{
    flex:2;
    justify-content:space-around;
}
.cart{
    flex:1;
    justify-content:flex-end;
    margin-right:2%;
}

main{
    display: flex;
    align-items:center;
    max-height: 80vh;
    margin:auto;
    width:90%;

}
.text{
    flex:1;
}
.laptop{
    flex:1;
}
.laptop img{
    height:60vh;
    filter:drop-shadow(0 5px 3px black);
    animation: drop ease 1.5s  ;
}



.description h1{
    font-size: 44px;
    color:#585772;
}

main p{
    margin-top:5px;
    font-size:20px;
    color:#585772;

}
.buttons{
    padding:30px 0 0 0;
    display:flex;
}

.btn-1{
    background-color: transparent;
    border:2px solid #c36cbb;
    color:#c36cbb;
    height:50px;
    width:150px;
    font-size:16px;
    cursor:pointer;
}

.btn-2{
    background-color:#c36cbb;
    color:white;
    border:2px solid #c36cbb;
    height:50px;
    width:150px;
    font-size:16px;
    cursor:pointer;
    margin:0px 20px;

}

.back-1,.back-2,.back-3{
    position:absolute;
    z-index: -1;
}
.back-1{
    top:0;
    right:0;
    height:70vh;
}

.back-2{
    top:30vh;
    right:25%;
}
@keyframes drop{
    0%{
        opacity: 0;
        transform:translateY(-150px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
.burger{
    display:none;
    position:absolute;
    top:30px;
    right:30px;
    height:30px;
    width:50px;
    flex-direction:column;
    justify-content:space-between;
    
}
.burger .salad{
    height:8px;
    width:100%;
    border-radius:10px;
    background-color:black;
}

@media only screen and (max-width:950px){
    main{
        flex-direction:column;
        
        
    }
    .laptop img{
        order:1;
        width:40vh;
        
        
    }
    .text{
        order:2;
        text-align:center;
    }
    .buttons{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;

        }
    .btn-1{
        margin:10px;
    }
    .nav a{
        display:none;
    }
    .cart{
        display:none;
    }
    .burger{
        display:flex;
    }
    
}